body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  max-width: 800px;
  margin: auto;
  border-radius: 12px;
  background-color: #eee;
  padding: 32px;
}

form section {
  display: flex;
  padding: 32px 0;
}

label {
  flex: 0 0 150px;
}

input {
  flex: 1 1 auto;
  font-size: 18px;
}
